* {
    font-family: "Montserrat", "sans-serif";
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* border: 1px solid red; */
}

body {
    background-color: #2948ff;
}

.container-row {
    display: flex;
    align-items: center;
    height: 100vh;
    /* flex-wrap: wrap; */
}
.main-content {
    flex: 50%;
    min-height: 100vh;
    margin: 0;
    padding: 30px 70px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: #ffffff;
}
.header {
    display: flex;
    flex-direction: column;
    gap: 13px;
}
.side-logo {
    flex: 50%;
}

.register-main-logo {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 13px;
}
.register-main-logo > p {
    font-family: Nunito Sans;
    font-size: 20px;
    font-weight: 600;
    line-height: 27.28px;
    color: #2948ff;
}

.register-main-logo > img {
    width: 24px;
    height: 24px;
}
/* 
.header img {
    width: 100%;
    height: auto;
} */
.title {
    font-weight: 500;
    font-size: 30px;
    line-height: 36.57px;
}
.text {
    font-weight: 400;
    font-size: 16px;
    line-height: 26.62px;
}

.o-auth {
    margin-top: 13px;
    display: flex;
    flex-direction: column;
    gap: 13px;
}
.sign-o-auth {
    border: 1px solid #e8e8e8;
    border-radius: 100px;
    text-transform: capitalize;
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    background-color: #ffffff;
    color: #4f5665;
    font-weight: 500;
    font-size: 16px;
}
.sign-o-auth:hover {
    cursor: pointer;
    background-color: #e8e8e8;
}
.or {
    position: relative;
    text-align: center;
}
.or > .or-horizontal > p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    padding: 0 20px;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 400;
    line-height: 14.63px;
    letter-spacing: 0.005em;
    color: #aaaaaa;
}
.or > .or-horizontal {
    position: relative;
    border: 0.5px solid #dedede;
    width: 100%;
}

.form-login-input {
    margin-top: 13px;
}
.form-login-input label {
    font-size: 16px;
    font-weight: 500;
    line-height: 19.5px;
}
.form-login-input input {
    width: 100%;
}
.input-field {
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
    margin-top: 13px;
}
.img-inside {
    flex: 1; 
    border: none;
    margin: 0 auto;
    /* background-repeat: no-repeat;
    background-position-x: 10px;
    background-position-y: 50%;
    border: 1px solid #aaaaaa;
    border-radius: 8px;
    height: 44px;
    padding-left: 35px; */
}
.img-inside:focus {
    outline: none
}

form > button {
    background-color: #2948ff;
    color: #ffffff;
    height: 50px;
    width: 100%;
    margin-top: 13px;
    border-radius: 6px;
    border-style: none;
    padding: 10px;
    font-weight: 500;
}
form > button:hover {
    cursor: pointer;
    opacity: 0.9;
}
form > p {
    text-align: center;
    font-weight: 400;
    margin-top: 13px;
}
form a {
    text-decoration: none;
}

.side-logo {
    background: rgb(57, 106, 252);
    background: radial-gradient(circle, rgba(57, 106, 252, 0.9810049019607843) 39%, rgba(41, 72, 255, 1) 87%);
}

@media screen and (max-width: 576px) {
    body {
        background-color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
    .container-row {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .main-content {
        padding: 20px;
    }

    .main-content,
    .side-logo {
        width: 100%;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    .title {
        font-size: 25px;
    }

    .container-row {
        flex-direction: column;
    }

    .side-logo {
        visibility: hidden;
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .side-logo {
        visibility: hidden;
        display: none;
    }

    .container-row {
        height: 100vh;
    }
    .side-logo {
        display: none;
        flex: 50%;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
    .main-content {
        /* border-style: none; */
        border-radius: 0;
        padding: auto 0;
    }
}

@media screen and (max-width: 1024px) {
    body {
        background-color: #2948ff;
    }
    .main-content,
    .side-logo {
        flex: 50%;
    }
    .side-logo > img {
        max-width: 400px;
    }
    .container-row {
    }
}
