* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif !important;
}
/* ------------------------------------------------------------------------ */
/* -------NAVBAR----------------------------------------------------------------- */

body {
}

.navbar {
    background-color: #2948ff;
    padding: 21px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 100px;
    height: auto;
    object-fit: contain;
}

.nav-buttons {
    /*  */
    position: absolute;
    top: 55px;
    left: 0;
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: #ffffff;
}
.nav-buttons > a > .btn {
    margin: 0 20px;
}

.btn {
    padding: 10px 18px;
    border-radius: 4px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
    text-decoration: none;
    display: inline-block;
    text-align: center;
}

.btn-signup,
.btn-signin {
    color: #2948ff;
}

.btn-signin:hover,
.btn-signup:hover {
    outline: 1px solid #2948ff;
    background-color: rgba(255, 255, 255, 0.2);
}

.hamburger-menu {
    display: none;
    color: #ffffff;
    cursor: pointer;
}
/* ------------------------------------------------------------------------ */

main {
    display: flex;
    flex-direction: column;
}

/* ------------------------------------------------------------------------ */

.banner {
    display: flex;
    flex-direction: column-reverse;
    /* margin: 105px 130px; */
    padding: 16px 20px;
}
.banner-left {
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.banner-left > h1 {
    font-size: 32px;
    font-weight: 500;
    line-height: 39.01px;
}
.banner-left > p {
    font-size: 16px;
    font-weight: 400;
    line-height: 19.5px;
}
.banner-left > button {
    width: 50%;
    background-color: #2948ff;
    color: #ffffff;
    border-style: none;
    border-radius: 6px;
    padding: 15px;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
}
.banner-left button:hover {
    cursor: pointer;
    opacity: 0.8;
}
.banner-left button:active {
    transform: scale(0.9);
}
.banner-left > .available-on {
    margin: 10px 0;
}
.available-on > p {
    margin-bottom: 10px;
    font-weight: 400;
}

.banner-right {
    width: 100%;
}
.banner-right > img {
    width: 100%;
}

/* ------------------------------------------------------------------------ */

.brands {
    
    background-color: #e8e8e84d;
    margin: 63px 0px;
}
.brands > ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

/* ------------------------------------------------------------------------ */

.about-app {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    padding: 0 20px;
}
.about-app > .desc > h2 {
    font-size: 32px;
    font-weight: 500;
    line-height: 39.01px;
    text-align: center;
    padding: 0 10px;
}
.about-app > .desc > p {
    font-size: 16px;
    font-weight: 400;
    line-height: 19.5px;
    text-align: center;
}
.about-app > .card-poin {
    background: rgb(57, 106, 252);
    background: radial-gradient(circle, rgba(57, 106, 252, 0.9810049019607843) 39%, rgba(41, 72, 255, 1) 87%);
    padding: 38px 17px;
    text-align: center;
    border-radius: 8px;
    width: 100%;
    height: 260px;
    color: #ffffff;
}
.about-app > .card-poin > p:nth-child(2) {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 18px;
    line-height: 21.94px;
}
.about-app > .card-poin > p:nth-child(3) {
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 16px;
}
.about-app > .card-poin > img {
    background-color: white;
    border-radius: 100%;
    width: 58px;
    height: 58px;
    margin-bottom: 10px;
    padding: 10px;
    color: #2948ff;
}

/* ------------------------------------------------------------------------ */

.waves-up {
    height: 400px;
    background-image: url("../assets/dashboard/waves-up.png");
    background-repeat: no-repeat;
}
.waves-down {
    height: 400px;
    background-image: url("../assets/dashboard/waveus-up.png");
    background-repeat: no-repeat;
    transform: rotateY(180deg);
}
/* .feature-app > svg:nth-child(2) {
    margin-top: -10px;
} */

.feature-app {
    position: relative;
    height: auto;
    margin-top: 30px;
}
.feature-app > .wrapper {
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    align-items: end;
    padding: 60px 0;
    /* width: 1100px; */
    /* gap: 200px; */
}
.wrapper {
    padding: 20px;
    background-color:#2948ff
}
.feature-app-logo > img {
    width: 182px;
    height: 394px;
    
}
.feature-app-desc {
    /* width: 580px; */
    padding: 10px;
    height: 460px;
    color: #ffffff;
    /* background-color: #2948ff; */
}
.feature-app-desc > h2 {
    font-size: 32px;
    font-weight: 500;
    line-height: 39.01px;
    text-align: left;
    column-rule-color: #ffffff;
}
.feature-app-desc > p {
    font-size: 16px;
    font-weight: 400;
    line-height: 19.5px;
}
.feature {
    width: 392px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 25px;
}
.feature > svg {
    background-color: white;
    border-radius: 100%;
    width: 52px;
    height: 48px;
    padding: 10px;
}
.feature-description > p:nth-child(1) {
    font-weight: 700;
    margin-bottom: 5px;
    font-size: 18px;
}
.feature-description > p:nth-child(2) {
    font-weight: 400;
    margin-bottom: 5px;
    font-size: 16px;
}
.feature-app-desc > button {
    color: #2948ff;
    background-color: #ffffff;
    padding: 15px 43px;
    /* border-style: none; */
    border-color: #2948ff;
    border-radius: 8px;
    font-weight: 500;
    font-size: 14px;
}
.feature-app-desc > button:hover {
    cursor: pointer;
    background-color: #2948ff;
    border: 2px solid white;
    color: white;
}

/* ------------------------------------------------------------------------ */

.testimoni {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 60px 20px;
    text-align: center;
}
.testimoni-title {
    font-family: Montserrat;
    font-size: 32px;
    font-weight: 500;
    line-height: 39.01px;
    margin-bottom: 25px;
}
.testimoni-paragraph {
    font-weight: 400;
    font-size: 16px;
    line-height: 19.5px;
    margin-bottom: 40px;
}
.testimoni-wrapper {
    
    background-color: #E8E8E84D;
    border-radius: 8px;
    display: flex;
    justify-content: center;
}
.testimoni-card {
    width: 303px;
    height: 380px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 53.5px 16px;
}
.testimoni-avatar {
    width: 58px;
    height: 58px;
    margin-bottom: 19px;
}
.testimoni-name {
    font-weight: 700;
    font-style: 18px;
    line-height: 21.94px;
    color: #0b132a;
    margin-bottom: 19px;
}
.testimoni-rating {
    width: 164.17px;
    margin-bottom: 19px;
}
.testimoni-quote {
    font-weight: 700;
    font-size: 48px;
    line-height: 58.51px;
    color: #0b132a;
}
.testimoni-description {
    font-weight: 400;
    font-style: 16px;
    line-height: 19.5px;
    color: #4f5665;
}

/* ------------------------------------------------------------------------ */


footer {
    background-color: #2948ff;
    padding: 38px 20px;
    color: #ffffff;
}
.container-footer {
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.footer-brand {
    width: 100%
}
.footer-brand > p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}
.footer-contact {
    width: 100%
}
.footer-contact h3 {
    font-weight: 600;
    font-size: 18px;
    line-height: 18px;
    margin-bottom: 13px;
}
.footer-contact > .phone,
.footer-contact > .email {
    display: flex;
    align-items: end;
    font-weight: 600;
    gap: 10px;
    margin-bottom: 11px;
    
}
/* .footer-contact > .phone > p,
.footer-contact > .email > p {
} */
.footer-social-media {
    width: 235px;
}
.footer-social-media h3 {
    font-weight: 600;
    font-size: 18px;
    line-height: 18px;
    margin-bottom: 20px;
}
.footer-social-media a {
    margin-right: 8px;
}
/* .footer-contact div img */
.footer-newsletter {
    width: 100%;
    
    margin-bottom: 43px;
}
.footer-newsletter h3 {
    font-weight: 600;
    font-size: 18px;
    line-height: 18px;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.footer-newsletter form input {
    width: 100%;
    height: 44px;
    border-radius: 8px;
    border-style: none;
    margin-bottom: 15px;
}
.footer-newsletter form button {
    width: 100%;
    height: 36px;
    border-radius: 8px;
    border-style: none;
    font-weight: 500;
    font-size: 16px;
    color: #2948ff;
    padding: 8px 0;
}
footer p {
    display: flex;
    justify-content: center;
    margin-top: 27px;
}

@media screen and (min-width: 768px){
    
}

@media screen and (max-width: 768px) {
    .navbar {
        flex-wrap: wrap;
        position: relative;
    }

    .logo {
        flex-grow: 1;
    }

    .nav-buttons {
        display: none;
        width: 100%;
        flex-direction: column;
        gap: 10px;
        margin-top: 15px;
    }

    .btn {
        width: 100%;
        text-align: center;
        padding: 12px;
    }

    .hamburger-menu {
        display: block;
    }

    .navbar.active .nav-buttons {
        display: flex;
    }
}

@media screen and (max-width: 480px) {
    .btn {
        font-size: 14px;
        padding: 10px;
    }

    .e-wallet-logo-medium {
        display: none;
    }


}
@media screen and (min-width: 480px) {
    .e-wallet-logo-small {
        display: none;
    }
}
