:root {
    --blue: #2948ff;
    --white: #ffffff;
    --black: #0b132a;
    ---grey: #4f5665;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif !important;
}

/* 
header nav {
    width: 100%;
}
header nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    border: 1px solid #e8e8e8;
    padding: 14px 44px;
}
header nav ul .z-wallet-logo img {
    width: 150px;
    padding: 10px;
}
header nav ul li:nth-child(1) {
    align-content: center;
}

.nav-left {
    display: flex;
    align-items: center;
    gap: 22px;
}
.dropbtn {
    font-size: 16px;
    border: none;
    cursor: pointer;
    background-color: #ffffff;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    width: 248px;
    z-index: 1;
    top: 45px;
    right: 10px;
    border-radius: 8px;
    padding: 20px;
    background-color: #ffffff;
}
.dropdown-content a {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #2948ff;
    background-color: #ffffff;
    padding: 12px 16px;
    text-decoration: none;
}
.dropdown-content a:first-child:hover {
    background-color: #2948ff;
    color: #ffffff;
    border-radius: 8px;
}
.dropdown-content a:nth-child(2) {
    color: #d00000;
}
.dropdown-content a:nth-child(2):hover {
    background-color: #d00000;
    color: #ffffff;
    border-radius: 8px;
}
.dropdown:hover .dropdown-content {
    display: block;
}

.dashboard-name {
    color: #4f5665;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0, 6%;
}
.dashboard-avatar {
    width: 48px;
    height: 48px;
}
.hamburger-menu {
    text-align: center;
    align-content: center;
    margin-right: 10px;
    color: #ffffff;
} 
*/

/* ---------------------- Navbar ---------------------- */
.navbar {
    position: relative;
    background-color: var(--white);
    padding: 21px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo a {
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: 10px;
}
.logo img {
    width: 32px;
    height: 32px;
    /* object-fit: contain; */
}
.logo p {
    font-family: "Nunito Sans", sans-serif;
    font-size: 1.25em;
    font-weight: 600;
    line-height: 27.28px;
    color: var(--blue);
}

.hamburger-menu {
    color: #ffffff;
    cursor: pointer;
}
.hamburger-menu > img:active {
    transform: scale(0.9);
}

.sidebar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    display: none;
    background-color: rgba(0, 0, 0, 0.804);
}
.nav-buttons {
    position: relative;
    left: 50%;
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    background-color: var(--white);
    box-shadow: 0px 4px 25px 0px #00000026;
    border-radius: 20px 0 0 20px;
}

.nav-buttons > a {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 400;
    color: var(---grey);
}

.active {
    display: block;
}

.nav-buttons > a {
    width: 100%;
    border-radius: 5px;
    /* color: var(--blue); */
}
.nav-buttons > a:hover {
    /* outline: 2px solid #2948ff; */
    color: var(--white);
    background-color: var(--blue);
}
.nav-buttons > a > img:hover {
    fill: var(--white);
}

.btn {
    padding: 10px 18px;
    border-radius: 4px;
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    text-align: center;
}

.navbar-right {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* --------------------------------------------------------- */

.container {
    /* display: flex;
    flex-direction: row;
    justify-content: space-between; */
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "menu chart history";
}

.chart {
    grid-area: chart;
    padding: 44px 30px;
}

.menu {
    grid-area: menu;
    border-right: 1px solid #e8e8e8;
    flex: 20%;
    display: flex;
    flex-direction: column;
    padding-left: 27px;
    padding-right: 27px;
    padding-top: 24px;
}
.menu a {
    text-decoration: none;
    color: #4f5665;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.6%;
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px;
    padding: 10px;
}
.menu a:last-child {
    color: #d00000;
}
.menu a:hover {
    background-color: #2948ff;
    color: #ffffff;
    border-radius: 8px;
}
.chart {
    flex: 50%;
}
.transaction-history {
    grid-area: history;
    flex: 30%;
}

.cash-flow {
    display: flex;
    gap: 17px;
}
.card-cash-flow {
    width: 222px;
    height: 147px;
    background-color: #ffffff;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 15px;
    border: 1px solid #e8e8e8;
    gap: 5px;
}
.card-title-cash-flow {
    display: flex;
    align-items: center;
    gap: 5px;
}
.card-title-cash-flow h3 {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.6%;
    color: #4f5665;
}
.card-amount-cash-flow {
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.6%;
    color: #4f5665;
}

.card-income-expense {
    display: flex;
    gap: 10px;
    /* border: 1px solid red; */
}
.card-income-expense span span {
    /* border: 1px solid red; */
    display: flex;
    gap: 5px;
    margin: 10px 0;
}
.card-income-expense span:first-child span {
    color: #00a700;
}
.card-income-expense span:nth-child(2) span {
    color: #d00000;
}

.card-trend-cash-flow {
    display: flex;
    align-items: center;
    gap: 5px;
}
.card-trend-cash-flow p {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #00a700;
}
.card-trend-cash-flow svg {
    width: 16px;
    height: 16px;
}

.fast-service {
    width: 100%;
}
.fast-service h3 {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0, 6%;
    color: #0b132a;
    margin-bottom: 15px;
}
.button-fast-service {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.button-fast-service a {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    background-color: #2948ff;
    color: #ffffff;
    border-radius: 6px;
    border-style: none;
    padding: 10px;
    width: 100%;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    cursor: pointer;
}
.button-fast-service a:hover {
    cursor: pointer;
    opacity: 0.9;
}

.income-chart-menu {
    display: flex;
    justify-content: space-between;
    padding: 0px 14px;
    margin-top: 18px;
    margin-bottom: 31px;
}
.income-chart-menu h3 {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0, 6%;
    color: #0b132a;
}
.selection {
    display: flex;
    gap: 15px;
}
.selection select {
    border-style: none;
    background-color: #f1f1f1;
    padding: 10px;
    border-radius: 6px;
    font-weight: 500;
}
.chart-picture {
    display: flex;
    justify-content: center;
}

.transaction-history {
    border: 1px solid #e8e8e8;
    border-radius: 8px;
    margin-top: 44px;
}
.transaction-history-title {
    display: flex;
    justify-content: space-between;
    padding: 19px 21px;
}
.transaction-history-title h2 {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0, 6%;
    color: #0b132a;
}
.transaction-history-title a {
    text-decoration: none;
    font-weight: 500;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: -0, 6%;
    color: #2948ff;
}
.card-transaction-history {
    /* border: 1px solid #E8E8E8; */
    padding: 3px 16px;
    margin-bottom: 28px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
}
.card-transaction-history img {
    width: 56px;
    height: 56px;
    border-radius: 8px;
}
.card-transaction-history p {
    font-weight: 600;
    font-size: 16px;
    line-height: 19.5px;
    color: #1ec15f;
}
.card-info-transaction-history {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.card-info-transaction-history p:first-child {
    font-weight: 600;
    font-size: 16px;
    line-height: 19.5px;
    color: #0b132a;
}
.card-info-transaction-history p:nth-child(2) {
    font-weight: 400;
    font-size: 16px;
    line-height: 19.5px;
    color: #4f5665;
}

@media screen and (min-width: 1024px) {
    .nav-buttons {
        left: 75%;
        right: 25%;
    }
    .active {
        transition: 0.5 ease;
    }
    .tablet-mode {
        display: none;
    }
}
@media screen and (max-width: 1024px) {
    .container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
            "chart"
            "history";
    }
    .menu {
        display: none;
    }

    .transaction-history > ul {
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin: 0 auto;
    }
}

@media screen and (min-width: 768px) {
    .tablet-mode {
        display: none;
    }
}
@media screen and (max-width: 768px) {
    header {
        width: 100%;
        padding: 0;
        margin: 0;
        background-color: #2948ff;
    }
    header nav ul li {
        flex-direction: row-reverse;
    }
    .dashboard-name {
        color: #ffffff;
    }
    header nav ul > .z-wallet-logo {
        display: none;
    }
    .dropdown button {
        background-color: #2948ff;
    }
    .dropdown button svg {
        fill: #ffffff;
    }
    .dropdown-content {
        top: 60px;
        left: 0;
        border: 1px solid #2948ff;
    }

    .container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
            "main"
            "history"
        ;
    }
    .main {
        grid-area: main;
    }
    .history {
        grid-area: history;
    }

    .cash-flow {
        display: flex;
    }
    .card-cash-flow {
        width: 50%;
    }

    .chart {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .chart-picture > img {
        width: 100%;
    }

    .fast-service {
        /* display: none; */
    }
    .tablet-mode {
        width: 100%;
        display: flex;
        gap: 23px;
        justify-content: center;
        flex-direction: row;
    }
    .tablet-mode > button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100% !important;
        height: 45px;
        gap: 5px;
        background-color: #2948ff;
        color: #ffffff;
        border-radius: 6px;
        border-style: none;
        padding: 10px;
        width: 116px;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
    }
}

@media screen and (max-width: 576px) {
}
