* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    /* border: 1px solid red; */
}
body {
    background: rgb(57, 106, 252);
    background: radial-gradient(circle, rgba(57, 106, 252, 0.9810049019607843) 39%, rgba(41, 72, 255, 1) 87%);
}

.container {
    display: flex;
    width: 100%;
    flex-direction: row;
    background: rgb(57, 106, 252);
    background: radial-gradient(circle, rgba(57, 106, 252, 0.9810049019607843) 39%, rgba(41, 72, 255, 1) 87%);
}
.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: 100vh;
    padding: 10px 20px;
    background-color: #ffffff;
    font-family: "Montserrat", sans-serif;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
}
.sub-main {
    background-color: white;
}
.header img {
    width: 100%;
    height: auto;
}
.header .title {
    font-weight: 500;
    font-size: 30px;
    margin-top: 13px;
    margin-bottom: 13px;
}
.text {
    font-weight: 400;
    font-size: 16px;
    color: #4f5665;
    margin: 0;
}

.pin-container {
    text-align: center;
    height: 150px;
}
.pin-input-container {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.pin-input {
    width: 50px;
    height: 60px;
    text-align: center;
    font-size: 30px;
    border: none;
    border-bottom: 1px solid #2948ff;
    background-color: transparent;
    outline: none;
    transition: border-color 0.3s;
}

.pin-input:focus {
    border-color: #0056b3;
}
.show-pin-field > label {
    cursor: pointer;
}
.form-button {
    background-color: #2948ff;
    color: #ffffff;
    height: 50px;
    width: 100%;
    margin-top: 13px;
    border-radius: 6px;
    border-style: none;
    padding: 10px;
    font-weight: 500;
}
.form-button:hover {
    cursor: pointer;
    opacity: 0.9;
}
.form-reset-button {
    text-align: center;
    margin-top: 13px;
}
.form-reset-button > a {
    text-decoration: none;
}

.second {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    
    height: 100vh;
}

.img-second {
    max-width: 627px;
    max-height: 700px;
}

@media screen and (max-width: 567px) {
    .container {
        padding: auto 10px;
    }
    .main {
        width: 100%;
        /* padding: auto 10px; */
        background: rgb(57, 106, 252);
        background: radial-gradient(circle, rgba(57, 106, 252, 0.9810049019607843) 39%, rgba(41, 72, 255, 1) 87%);
    }

    .sub-main {
        padding: 40px 17px;
        border-radius: 8px;
    }

    .title {
        font-size: 18px;
        font-weight: 500;
        line-height: 21.94px;
    }

    .pin-container {
        text-align: center;
        height: 100px;
    }
    .pin-input-container {
        gap: 5px;
    }
    .pin-input {
        width: 35px;
        height: 40px;
        text-align: center;
        font-size: 30px;
        border: none;
        border-bottom: 1px solid #2948ff;
        background-color: transparent;
        outline: none;
        transition: border-color 0.3s;
    }
}

/* Tablet */

@media screen and (max-width: 768px) {
    .second {
        display: none;
    }
    .main {
        width: 100%;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
}

@media screen and (min-width: 768px) {
    .img-second {
        width: 100%;
        height: auto;
    }
}

/* Desktop */
@media screen and (min-width: 1025px) {
}
