* {
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: rgb(57, 106, 252);
    background: radial-gradient(circle, rgba(57, 106, 252, 0.9810049019607843) 39%, rgba(41, 72, 255, 1) 87%);
}

.container {
    background-color: #ffffff;
    margin: 30px;
    overflow: hidden;
    padding: 71px 50px;
    border-radius: 20px;
    width: 500px;
}

.container > img {
    height: 32px;
    margin-bottom: 15px;
}

.container > h1 {
    font-weight: 500;
    font-size: 30px;
    line-height: 36.57px;
    font-family: "Montserrat", sans-serif;
    /* margin-bottom: 15px; */
}

.container > p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26.62px;
    margin-bottom: 15px;
    font-family: "Montserrat", sans-serif;
}

.register-main-logo {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 13px;
}
.register-main-logo > p {
    font-family: Nunito Sans;
    font-size: 20px;
    font-weight: 600;
    line-height: 27.28px;
    color: #2948ff;
}

.form-login-input {
    font-family: "Montserrat", sans-serif;
    margin-top: 13px;
}
.form-login-input input {
    margin-top: 13px;
    width: 100%;
}
.img-inside {
    background-repeat: no-repeat;
    background-position-x: 10px;
    background-position-y: 50%;
    border: 1px solid #aaaaaa;
    border-radius: 8px;
    height: 44px;
    padding-left: 35px;
}
form > button {
    background-color: #2948ff;
    color: #ffffff;
    height: 50px;
    width: 100%;
    margin-top: 13px;
    border-radius: 6px;
    border-style: none;
    padding: 10px;
    font-weight: 500;
}
form > button:hover {
    cursor: pointer;
    opacity: 0.9;
}
form > button:active{
    transform: scale(0.9);
}
form > p {
    text-align: center;
    font-weight: 400;
}
form a {
    text-decoration: none;
}

@media screen and (max-width: 480px) {
    .container {
        padding: 40px 18px;
    }
    .container > p {
        font-size: 12px;
        font-weight: 400;
        line-height: 19.97px;
    }
}

/* Smartphone */
@media screen and (max-width: 767px) {
    /* body {
    background-color: yellow;
  } */
    .container > h1 {
        font-size: 20px;
        font-weight: 500;
    }
    .container > p {
        font-size: 15px;
    }
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    body {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .container {
        width: 500px;
    }
}
